<h4 ion-text
    *ngIf="!filterMenuMode">
    Types:
    <button class="add-btn"
            (click)="addNewEventType()"
            ion-button
            icon-only
            float-right
            clear>
        <ion-icon name="add"></ion-icon>
    </button>
</h4>
<ion-list>
    <div ion-item
         *ngFor="let type of types"
         (click)="edit(type)">
        <ion-label>{{ type.title }}</ion-label>

        <ion-icon class="trash-btn"
                  name="ios-trash-outline"
                  item-end
                  *ngIf="!filterMenuMode"
                  (click)="removeType($event, type)"></ion-icon>
        <ion-checkbox item-end
                      icon-only
                      [checked]="isTypeFiltered(type)"
                      (click)="edit(type)"
                      *ngIf="filterMenuMode"></ion-checkbox>
        <color-sample item-start
                      [color]="type.color"></color-sample>
    </div>
</ion-list>

