<h4 ion-text>Types:
  <button class="add-btn"
          (click)="addNewEventType()"
          ion-button
          icon-only
          float-right
          clear>
    <ion-icon name="add"></ion-icon>
  </button>
</h4>
<ion-list>
  <div ion-item
       *ngFor="let type of types"
       (click)="edit(type)">
    {{ type.title }}
    <ion-icon class="trash-btn"
              name="trash"
              item-end
              (click)="removeType(type)"></ion-icon>
    <color-sample item-start
                  [color]="type.color"></color-sample>
  </div>
</ion-list>

