<h4 ion-text>
  Add new event
</h4>

<form (ngSubmit)="addEvent()">
  <ion-item *ngIf="types.length">
    <ion-label color="primary" fixed>Event type</ion-label>
    <ion-select class="select-event"
                [(ngModel)]="selectedType"
                name="types"
                interface="action-sheet"
                (ngModelChange)="makeInputs()">
      <ion-option
        *ngFor="let type of types"
        [value]="type">
        {{type.title}}
      </ion-option>

    </ion-select>

  </ion-item>

  <ion-item *ngFor="let input of eventInputs">
    <ion-input placeholder="title" [(ngModel)]="input.value" name="{{input.title}}Title"></ion-input>
    <ion-label fixed>
      {{input.title}}
    </ion-label>
  </ion-item>

  <button *ngIf="types.length" ion-button type="submit">Add event</button>
  <button ion-button float-right [navPush]="eventTypesPage">Manage types</button>

</form>
