<form (ngSubmit)="addEvent()">
    <ion-item *ngIf="types.length">
        <ion-select class="select-event"
                    [(ngModel)]="selectedType"
                    name="types"
                    interface="action-sheet"
                    (ngModelChange)="makeInputs()">
            <ion-option *ngFor="let type of types"
                        [value]="type">
                <ion-icon class="trash-btn"
                          name="ios-trash-outline"></ion-icon>
                {{type.title}}
            </ion-option>

        </ion-select>

    </ion-item>

    <ion-item *ngFor="let input of eventInputs">
        <ion-input *ngIf="isStoryInput(input)"
                   placeholder="title"
                   [(ngModel)]="input.value"
                   name="{{input.title}}Title"></ion-input>

        <ion-datetime *ngIf="isTimeInput(input)"
                      placeholder="12:00"
                      displayFormat="HH:mm"
                      [(ngModel)]="input.value"
                      name="{{input.title}}Title"></ion-datetime>

        <ion-label fixed>
            {{input.title}}
        </ion-label>
    </ion-item>

    <button *ngIf="types.length"
            ion-button
            type="submit">Add event
    </button>
    <button ion-button
            float-right
            [navPush]="eventTypesPage">Manage types
    </button>

</form>
