<ion-title>
  Add new event
</ion-title>
<form (ngSubmit)="addEvent()">
  <ion-item *ngIf="types.length">
    <ion-label color="primary" fixed>Event type</ion-label>
    <ion-select class="select-event" [(ngModel)]="eventTypeTitle" name="types" interface="action-sheet"
                (ngModelChange)="makeInputs()">
      <ion-option
        *ngFor="let type of types" value="{{type.title}}">{{type.title}}
      </ion-option>

    </ion-select>

  </ion-item>

  <ion-item *ngFor="let input of eventInputs">
    <ion-input placeholder="title" [(ngModel)]="input.value" name="{{input.title}}Title"></ion-input>
    <ion-label fixed>
      {{input.title}}
    </ion-label>
  </ion-item>

  <button *ngIf="types.length" ion-button type="submit">Add event</button>
  <button ion-button float-right [navPush]="eventTypesPage">Manage types</button>

</form>
<div *ngIf="!!info">
  <ion-card *ngFor="let event of info.events">

    <ion-card-header>
      {{info.date.format('DD MMMM YYYY')}}
      <ion-icon float-right class="trash-btn" name="trash" float-right (click)="removeEvent(event)"></ion-icon>
    </ion-card-header>

    <ion-card-content>

      <color-sample float-right [color]="event.type.color"></color-sample>
      {{event.type.title}}

      <div *ngFor="let key of getEventDataInfo(event)">
        {{event.type.inputs[key].title}}
        {{event.data[key]}}
      </div>

    </ion-card-content>

  </ion-card>
</div>
