<ion-title>
  Add new event
</ion-title>
<form (ngSubmit)="addEvent()">
  <ion-item>
    <ion-label color="primary" fixed>Event type</ion-label>
    <ion-select [(ngModel)]="eventTypeTitle" name="types" interface="action-sheet">
      <ion-option
        *ngFor="let type of types" value="{{type.title}}">{{type.title}}
      </ion-option>

    </ion-select>

  </ion-item>

  <ion-item>
    <ion-label color="primary" fixed>Text</ion-label>
    <ion-input placeholder="Text Input" [(ngModel)]="eventTitle" name="title"></ion-input>
  </ion-item>

  <button ion-button type="submit">Add event</button>
  <button ion-button float-right [navPush]="eventTypesPage">New type</button>

</form>
<div *ngIf="!!info">
  <ion-card *ngFor="let event of info.events">

    <ion-card-header>
      {{info.date.format('DD MMMM YYYY')}}
    </ion-card-header>

    <ion-card-content>
      {{event.type.title}}
      <color-sample float-right [color]="event.type.color"></color-sample>
      {{event.comment}}
    </ion-card-content>

  </ion-card>
</div>
