@import '../../../../theme/variables.scss';

month-view {
  width :100%;
  display: block;
}

calendar {
  width :100%;
}

.datesContainer {
  width: 100%;
}

.week {
  width: 100%;
  padding: 0;
  position: relative;
}

.monthName {
  margin: 20px 0;
  width: 100%;
}

.nav {
  width: 48%;
}
