@import '../../../../theme/variables.scss';

month-view {
  width: 100%;
  display: block;
}

.day-view {
  display: inline-block;
  width: 14.25%;
  vertical-align: bottom;
}

calendar {
  width: 100%;
}

.datesContainer {
  width: 100%;
  &-yearView {
    .day-view {
      font-size: 9px;
      text-align: right;
    }
  }
}

.week {
  width: 100%;
  padding: 0;
  position: relative;
}

.monthName {
  margin: 20px 0;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  &-small {
    margin: 7px 0;
    font-size: 10px;
  }
}

.nav {
  width: 48%;
}
