<div (click)="goToMonth()"
     class="month"
     [class.month-yearView]="yearView">

  <h4 ion-text
      [class.title-small]="yearView">
    {{currentMonthName}} </h4>

  <div *ngIf="!yearView"
       class="datesContainer">

    <div *ngFor="let week of weeks"
         class="week">
      <day-view *ngFor="let day of week"
                class="day-view"
                [elementSize]="size"
                [notThisMonth]="day.notDayOfCurrentMonth"
                [date]="day.date"
                [yearView]="yearView"></day-view>
    </div>
  </div>

  <!--optimizing performance by not using component for logic-less moment-->
  <div *ngIf="yearView"
       class="datesContainer datesContainer-yearView">

    <div *ngFor="let week of weeks"
         class="week">
      <div *ngFor="let day of week"
           class="day-view">
        <div [hidden]="day.notDayOfCurrentMonth"
             [style.width]="size"
             [style.height]="size">
          {{day.date.date()}}
        </div>
      </div>
    </div>
  </div>
</div>
