@import '../../../../theme/variables.scss';

month-view {
  width :100%;
  display: block;
}

calendar {
  width :100%;
}

.datesContainer {
  width: 100%;
  .no-background {
    day-view{
      .day {
        background: none;
      }
    }
  }
}

.week {
  width: 100%;
  padding: 0;
  position: relative;
}

.monthName {
  margin: 20px 0;
  width: 100%;
  &-small {
    margin: 7px 0;
  }
}

.nav {
  width: 48%;
}
