@import '../../../theme/variables.scss';
day-view {
  display: inline-block;
}
.day-container {
   position: relative;
}

.day {
  width: 90%;
  height: 90%;
  position: absolute;
  top:0;
  left:0;
  text-align: center;
  border-radius: 50%;
  margin: 5%;
  box-sizing: border-box;
  cursor: pointer;
  &-current {
    background: map-get($colors, primary);
  }
  &-next {
    background: map-get($colors, secondary);
  }
  &-prev {
    background: map-get($colors, danger);
  }
}

.date {
  font-family: inherit;
  color: white;
  font-weight: bold;;
  font-size: 20px;
  display: inline-block;
  position: relative;
  vertical-align: middle;
  height: 0;
}

.events {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 50px;
  color: #ffba7d;
}
