<button ion-button (click)="clearAll()">Clear all</button>
<div *ngIf="!!events">
  <ion-card *ngFor="let event of events">

    <ion-card-header>
      {{date.format('DD MMMM YYYY')}}
      <ion-icon float-right class="trash-btn" name="trash" float-right (click)="removeEvent(event)"></ion-icon>
    </ion-card-header>

    <ion-card-content>

      <color-sample float-right [color]="event.type.color"></color-sample>
      {{ event.type.title}}

      <div *ngFor="let input of getInputsList(event)">
        {{input.title}}
        {{event.getInputData(input.inputKind)}}
      </div>

    </ion-card-content>

  </ion-card>
</div>
