ion-card {
    position: relative;
    .trash-btn {
        margin-right: 5px;
    }

    .event-icon {
        margin-right: 5px;
        margin-top: -1px;
    }

}

.select-event {
    max-width: 100%;
    width: 100%;
}
