<div *ngIf="!!events">
    <ion-card *ngFor="let event of events">

        <ion-card-header>
            <color-sample float-left
                          class="event-icon"
                          [color]="event.type.color"></color-sample>
               {{event.type.title}}
            <ion-icon float-right
                      class="trash-btn"
                      name="ios-trash-outline"
                      float-right
                      (click)="removeEvent(event)"></ion-icon>
        </ion-card-header>

        <ion-card-content *ngIf="getInputsList(event).length">
            <div *ngFor="let input of getInputsList(event)">
                <b>{{input.title}}:</b> {{event.getInputData(input.inputKind)}}
            </div>

        </ion-card-content>

    </ion-card>
</div>
