event-type-editor {
    margin-top: 20px;
    display: block;

    .inputs-list {
        margin-bottom: 10px;
    }
    .addInput-btn {
        width: 45%;
        margin: 10px 2%;
        height: 3em;
        ion-icon {
            padding-right: .5em;
        }
    }

    .input-buttons {
        display: block;
        width: 100%;
    }
}
