<ion-content class="page-content">

    <form (ngSubmit)="saveType()">
        <h5 class="event-editor-header">Editing event type
            <button ion-button
                    icon-only
                    float-right
                    clear
                    (click)="saveType()"
                    [disabled]="!formValid"
                    type="submit">
                <ion-icon name="checkmark"></ion-icon>
            </button>
            <button ion-button
                    icon-only
                    clear
                    float-right
                    (click)="close()"
                    type="reset">
                <ion-icon name="close"></ion-icon>
            </button></h5>
        <div class="inputs-list">
            <div>
                <color-sample float-left
                              [big]='true'
                              (onColorChange)="changeColor($event)"
                              [clickable]="true"
                              [color]="type.color"></color-sample>
                <span class="title">
                    <h6>{{title}}</h6>
                </span>

            </div>
            <ion-list>

                <ion-item>
                    <ion-label>Title</ion-label>
                    <ion-input placeholder="Event title"
                               [(ngModel)]="title"
                               name="title"></ion-input>

                </ion-item>
            </ion-list>
        </div>

        <ion-list *ngIf='inputs.length'>

            <ion-list-header>Inputs</ion-list-header>
            <ion-item *ngFor="let input of inputs">

                <ion-icon class="trash-btn"
                          name="ios-trash-outline"
                          item-end
                          (click)="removeInput(input)"></ion-icon>

                <ion-input [placeholder]="getInputPlaceholder(input)"
                           [(ngModel)]="input.title"
                           required="true"
                           name="{{input.title}}Title"></ion-input>
                <ion-icon [name]="getInputIcon(input)"
                          item-start></ion-icon>

            </ion-item>
        </ion-list>
        <div class="input-buttons">
            <!--adding new inputs-->
            <button *ngFor="let inputType of availableInputs"
                    (click)="addInput(inputType)"
                    class="addInput-btn"
                    color="secondary"
                    type='button'
                    ion-button
                    full
            >
                <ion-icon [name]="inputTypeDetails[inputType].icon"></ion-icon>
                {{inputTypeDetails[inputType].addTitle}}
            </button>
        </div>

    </form>
</ion-content>
