@import '../../../../theme/variables.scss';

day-view {
  display: inline-block;
}

.day-container {
  position: relative;
}

day-view {
  width: 14.25%;
  vertical-align: bottom;
}

.day {
  width: 90%;
  height: 90%;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 10%;
  margin: 5%;
  box-sizing: border-box;
  cursor: pointer;

  &-background {
    background: rgba(0, 0, 0, .04);
  }
  &-today {
    background: rgba(0, 0, 0, .3);
  }

  &-anotherMonth {
    background: rgba(0, 0, 0, .01);
    .date {
      opacity: .3;
    }
  }

  &-small {
    .date {
      font-size: 9px;
    }
  }
}

.date {
  font-family: inherit;
  color: black;
  font-size: 12px;
  display: inline-block;
  position: relative;
  height: 0;
  top: 5%;
  left: 7%;
}

.events {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 50px;
  color: #ffba7d;
}
