<div class="day-container"
     [hidden]="yearView && notThisMonth"
     [style.width]="elementSize"
     [style.height]="elementSize">
  <div class="day day-{{className}}"
       [class.day-small]="yearView"
       [class.day-background]="!yearView"
       [class.day-anotherMonth]="notThisMonth"
       [class.day-today]="isToday"
       (click)="openDetails()">

    <div class="date">{{day}}</div>
    <color-sample *ngFor="let event of displayEvents" small="true" [color]="event.type.color"></color-sample>
      <div class="lot-events" *ngIf="lotOfEvents">
          <ion-icon name="arrow-dropright"></ion-icon>
      </div>
  </div>
</div>
