@import '../../../../theme/variables.scss';

.day-container {
    position: relative;
}

.day {
    width: 90%;
    height: 90%;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 10%;
    margin: 5%;
    box-sizing: border-box;
    cursor: pointer;
    $highlight: color($colors, secondary);

    &-background {
        background: rgba($highlight, .04);
    }

    &-today {
        background: rgba($highlight, .3);
    }

    &-anotherMonth {
        background: rgba($highlight, .01);
        .date {
            opacity: .3;
        }
    }

    &-small {
        .date {
            font-size: 9px;
        }
    }

    .lot-events {

        display: inline-block;
        font-size: 10px;
        width: 7px;
        height: 7px;

    }
}

.date {
    font-family: inherit;
    font-size: 12px;
    display: inline-block;
    position: relative;
    height: 0;
    top: 5%;
    left: 7%;
}

.events {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 50px;
    color: #ffba7d;
}
