@import '../../../theme/variables.scss';

calendar {
  width :100%;
}

.datesContainer {
  width: 100%;
}

.week {
  width: 100%;
  padding: 0;
  position: relative;
}

.monthName {
  margin: 20px 0;
  width: 100%;
}

.nav {
  width: 48%;
}
